body{

        
    background: -webkit-linear-gradient(left, #57109b, #dcb1f4);
    background: -moz-linear-gradient(left, #57109b, #dcb1f4);
    background: -ms-linear-gradient(left, #57109b, #dcb1f4);
    background: -o-linear-gradient(left, #57109b, #dcb1f4);
    background: linear-gradient(to right, #57109b, #dcb1f4);
}

.container-fluid .titulo{
    font-size: 30px;
    
}