@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Hanuman:wght@300;400&family=Istok+Web:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

#menu{
  padding-top: 0px;
}

.navbar-nav .dropdown-menu {
    position: static;
    background-color: #3a0055;
}
.navbar .container-fluid {
    background-color: #3a0055;
    padding-top: 10px;
}

.navbar .navbar-brand .titulo {
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-family: 'Hanuman';
    font-weight: bold;
}

.navbar ul li a {
    font-size: 20px;
    font-family: 'Hanuman';
    color: rgb(255, 255, 255);
}

.navbar .container-fluid .icone{
    margin-bottom: 5px;
}
