*{
    margin: 0px;
    padding: 0px;
  
   
}


.container .row .texto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    text-align: center;
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    border: 3px solid  #3a0055;
    border-radius: 50px;
    width: 100%; /* Ajuste a largura conforme necessário */
    
    }
    

.container .row .texto{
    font-family: 'Hanuman';
    font-size: 30px;
    font-weight: bolder;
}


section {
    height: 6px; /* Ajuste a altura conforme necessário */
    background-color:  #daa520; /* Cor da seção */
  }

 .produtostitulo{
    padding-top: 25px;
    display: flex;
    justify-content: center;
    color: #3a0055;
    font-family: 'Hanuman';
    font-weight: bolder;
  }

  .container .botaoproduct {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container .botaoproduct .btn {
    width: 200px; /* Ajuste o valor conforme necessário */
    font-size: 15px;
    background-color: #3a0055;
    color: white;
}


  #formulario{
    padding-top: 10px;
    margin-top: 15px;
    color: #3a0055;
  }

  

  